.navbar {
  background-color: #3FA0EF;
  height: 80px;
  animation: slideIn 0.5s ease-in-out;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.5rem; /* Adjust font size as needed */
}

.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  background-color: transparent; /* Remove any specific background color */
}

.navbar-nav .nav-link:hover {
  transform: translateY(-2px);
}
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}