.modal-body33 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  background-color: #8ac0f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px red;
}

.success-message {
  color: green;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
