/* App.css */
.table {
  width: 100%;
  margin: 0 auto;
}

.table thead th, .table tbody td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td.actions {
  width: 150px;
}

.table td.hidden {
  display: none;
}
.pointer-cursor {
  cursor: pointer;
}
